# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GameChanger.iml
# Datasource local storage ignored files
/../../../../../../../../:\Box\UnityProjects\GameChanger\GameChanger\.idea\.idea.GameChanger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
